<!-- Заноловок поиска списка вызовов	ss_badservise  ss_cwfind  ss_corder	-->
<div id="fcalls_head" class="call">
<table width=100%> <tr> <td class="tit"> &nbsp; Вызова: <select name='sel_cwfind' onchange="set_shadow('find_calls');">
<option value=''>  </option>
<option value='1' > в Работе </option>
<option value='2' > Ждущие </option>
<option value='3' > Исполненые </option>
<option value='4' > Закрытые </option>
<option value='7' > Т.Контрол </option>
<option value='10' > в Архиве </option>
<option value='11' > Архив 10 </option>
</select>
</td><td align="center"> &nbsp;Сортировать: <select name='sel_corder' onchange="set_shadow('find_calls');">
<option value='1' selected> Времени </option>
<option value='2' > Номеру </option>
<option value='3' > Улице </option>
<option value='4' > Фамилии </option>
</select>
</td><td align="center"> &nbsp;Подстанция:	<select name='sel_subst' onchange="set_shadow('find_calls');">
<option value=''>  </option>
<option value='1' > Автозаводская </option>
<option value='2' > Канавинская </option>
<option value='3' > Ленинская </option>
<option value='4' > Московская </option>
<option value='5' > Нижегородская </option>
<option value='6' > Приокская </option>
<option value='7' > Советская </option>
<option value='8' > Сормовская </option>
<option value='9' > Северная </option>
</select>
</td><td align="center"> &nbsp;Место:	<select name='sel_place' onchange="set_shadow('find_calls');">
<option value=''>  </option>
<option value='1' > 1 квартира         </option>
<option value='2' > 2 улица            </option>
<option value='3' > 3 обществ.место    </option>
<option value='4' > 4 рабочее место    </option>
<option value='5' > 5 подстанция       </option>
<option value='6' > 6 леч.учреждение   </option>
</select>
</td><td align="right" width=30px>
<i id="ffc_icon" style="display: none;" class="fa fa-search fa-2x line" aria-hidden="true" title="Расширенный Поиск" onclick="set_shadow('find_calls&ffc_head=Y');"></i>
</td><td align='right'>
<i class="fa fa-plus-square-o fa-2x line" aria-hidden="true" title="Расширенные параментры Поиска" onclick="showBlock('ffc_head'); showBlock('ffc_icon');"></i> &nbsp;
<i class="fa fa-refresh fa-2x line" aria-hidden="true" title="Искать" onclick="set_shadow('find_calls');"></i>	&nbsp;
</td></tr></table>

<div id="ffc_head" class="call" style="display: none;">
<table cellpadding=2 cellspacing=0 border=0 width=100%>
<tr valign=top align="center"><td>
<table cellpadding=2 cellspacing=0 border=0 width=100%>
<tr><td align="right"> Улица: </td><td> <input type="text" name="like_street" value="" size=20 maxlength=22> </td></tr>
<tr><td align="right"> Дом: </td><td> <input type="text" name="like_house" value="" size=20 maxlength=22> </td></tr>
<tr><td align="right"> ФИО: </td><td> <input type="text" name="like_name" value="" size=20 maxlength=22> </td></tr>
</table>
</td><td>
<table cellpadding=2 cellspacing=0 border=0 width=100%>
<tr><td align="right"> N&nbsp;Вз: </td><td> <input type="text" name="call_numbers" value="" size=16 maxlength=22> </td></tr>
<!--tr><td align="right"> П/С: </td><td> <input type="text" name="sub_numbers" value="" size=16 maxlength=22></td></tr-->
<tr><td align="right"> N&nbsp;Бр: </td><td> <input type="text" name="brg_numbers" value="" size=16 maxlength=22></td></tr>
</table>
</td><td>
<table cellpadding=2 cellspacing=0 border=0 width=100%>
<tr><td align="right"> Резлт.: </td><td> <input type="text" name="reslt_cod" value="" size=16 maxlength=22></td></tr>
<tr><td align="right"> Диагн.: </td><td> <input type="text" name="diagn_cod" value="" size=16 maxlength=22></td></tr>
<tr><td align="right"> Куда: </td><td> <input type="text" name="like_kuda" value="" size=16 maxlength=22> </td></tr>
</table>
</td><td>
<table cellpadding=2 cellspacing=0 border=0 width=100%>
<tr><td align="right"></td><td>
<label><input type="checkbox" name="oms"  onchange="set_shadow('find_calls');"> ОМС </label>
<label><input type="checkbox" name="r9x"  onchange="set_shadow('find_calls');"> Все </label>
<label><input type="checkbox" name="cn_total"  onchange="set_shadow('find_calls');"> T.N&ordm;</label>
</td></tr>
<tr><td align="right"> Повод:
</td><td> <input type="text" name="like_reasn" value="" size=2 maxlength=3>
проф:<input type="text" name="tmp_profile" value="" size=1 maxlength=1>
лет:<input type="text" name="like_age" value="" size=2 maxlength=3>
</td></tr>
<tr><td align="right"> Обсл.: </td><td> <select name='sel_badservis' >
<option value=''>  </option>
<option value='delete' > Удаленные вызова </option>
<option value='double' > Повторные вызова </option>
<option value='letal' > Летальные исходы </option>
<option value='t_done' > Длит. обслуживание </option>
<option value='t_send' > Задержки передачи </option>
</select> </td></tr>
</table>
</td></tr>
</table>
</div>	<!-- END ffc_head	-->
</div>	<!-- END fcalls_head Заноловок поиска списка вызовов	-->
<div id="list_calls" style="border: thin solid #668; width: 100%; position: absolute; background-color: #fff; padding: 2px; min-height: 20%; max-height: 90%; overflow: auto;">
</div>	<!-- END list_calls	-->
<span id='len_list'>len_list</span>

~list_calls|
<table id='tbl_calls' width=100%>
<tr style='background: #bcd;'><th colspan=2> Вызова </th><th> П/С  </th><th> ФИО </th><th colspan=5> Обслуживание </th><th colspan=1> Бригады </th></th><th> Примечания </th></tr>

<tr class='line' id='c128273' ><td onclick="open_call(128273);"  width=140px><span class='line bferr'> <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>&nbsp; 1118 <b>65Р </b> </span></td>
<td onclick="open_call(128273);"  width=250px>50-ЛЕТИЯ ПОБЕДЫ д.18</td>
<td width=20px> 2 </td>
<td width=250px onclick="open_call(128273);" > <span class=bfligt> None </span> &nbsp; л.None ? </td>
<td width=56px><b> 08:45 </b></td><td width=60px><span onclick="open_call(128273);" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td><td width=60px><span onclick="open_call(128273);" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td><td width=60px><span onclick="open_call(128273);" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td><td width=60px><span onclick="open_call(128273);" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<td width=90px align='center'> &nbsp; </td>
<td width=280px title="Добавить примечание" onclick="alert('Добавить примечание');"><i class="fa fa-plus fa-lg line bffff" ></i>  </td>
<td width=20px> 1 </td>

</table>	<!-- tbl_calls	-->
~eval| $('#tbl_calls tr.line').hover (function () { $('#tbl_calls tr').removeClass('mark'); $(this).addClass('mark'); $('#shadow').text('')});
~eval| $('#len_list').html(" &nbsp; <span class='bfinf'> &nbsp; Найдено 36 Вызовов. &nbsp; </span>"); 

