{% extends "layout.html" %}
{% block body %}
{% if not session.logged_in %}
	<h2>Необходима реристрация</h2>
{% else %}
<h2>File: index.html {{ desc }}</h2>
<form name='myForm' action="{{ url_for('set_entry') }}" method=post>
	<input name='stat' type='hidden' value='' />
	<div class="menu_nav">
		<div id='head_CC' class="col col-2">
		<span class='tit'> ОО {{ config['TITLE'] }} </span>
		</div>
		<div id='head_CC' class="col col-3 line">	<span class='tit' onclick="document.myForm.stat.value='calls'; set_shadow('calls')">
			<i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> Вызова &nbsp; </span>
		<!--/div>
		<div id='head_CC' class="col col-2 line"-->	<span class='tit' onclick="document.myForm.stat.value='brigs'; set_shadow('brigs')">
			<i class="fa fa-medkit fa-lg" aria-hidden="true"></i> Бригады &nbsp; </span>
		<!--/div>
		<div id='head_CC' class="col col-2"-->	<span class='tit'>
			<i class="fa fa-archive fa-lg" aria-hidden="true"></i> Архив &nbsp; </span>
		</div>
		<div id='head_CC' class="col col-2">    <span class='tit'> {{ session.user.name }} </span> {{ session.user.tname }}
		</div>
		<div id='head_CC' class="col col-2">	<span class='tit'> T:{{ g.sdate }}</span>
		</div>
		<div id='head_CC' class="col col-1 " style="float: right;">
			<span id='load_ts' class='asbutton' onclick=" start_ws(); "> <i class="fa fa-refresh fa-lg" aria-hidden="true"></i> </span>
		&nbsp;
			<span class='tit'>
			<a style='color: #fff; font-size: 14pt;' href="{{ url_for('logout') }}" title="Выход"> <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></span>
		</div>
	</div>
<!--	&nbsp;&nbsp;	<input type=button onclick="if (confirm ('Сохранить изменения?')) {document.myForm.stat.value='update'; document.myForm.submit();}" value=Изменить />
	<input name='stat' type='hidden' value='' /-->
	<div id="oo_body">
	</div>
</form>
{% endif %}
{% if error %}
	<p class=error><strong>Error:</strong> {{ error }}
{% elif nxdata %}
	<div style='font-size: 12pt; color: #a00; padding: 8pt; background-color: #fee; margin: 8pt;'>
	Изменнение направления потока данных от ТС СМП НН <br>
	на сервер <b> {{ s_ip }}:{{ sport }} </b> произойдет в <b>03:50 {{ nxdata }} </b>
	</div>
{% endif %}
{% endblock %}
