<!doctype html>
<head>
  <title>СМП {{ config['TITLE'] }} </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main">
  <div class=page>
  <h1> СМП {{ config['TITLE'] }}</h1>
  <h2> Регистрация пользователя {{ sdate }} </h2>
  <form action="login" aa="{ url_for('login') }" method=post>
    <dl>
      <dt>Login:
      <dd><input type=text name=ulogin>
      <dt>Password:
      <dd><input type=password name=password> &nbsp;
      <input type=submit value=Login>
    </dl>
  </form>
  <!--div class=metanav> &nbsp; </div-->
  {% for message in get_flashed_messages() %} <div class=flash>{{ message }}</div> {% endfor %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
</div>
</div>
</body>
