<!doctype html>
<head>
  <title>Ретранслятор СМП НН</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="page">
<h1> Error: 404 </h1>
<p style="font-family: 'Georgia', serif; color: #37a; font-size: 1.3em;">
	Истекло время рабочей сессии.  <br> 
	Отсутствует Login.
	</p>
<p style="font-family: 'Georgia', serif; color: #37a; font-size: 1.3em;">
	Необходимо повторить регистрацию. &nbsp;
	<a href="{{ url_for('login') }}">[ Log in ]</a>	</p>
</div>
</body>
</head>
