{% extends "layout.html" %}
{% block body %}
<div class="main">
    <h2>REM  {{ data }} </h2>
	{% if form %}
	<div class="main">
	<form action="index.html" method="post" novalidate>
		{{ form.hidden_tag() }}
		<table>
			<tr><td>{{ form.disp.label }}</td><td>{{ form.disp(size=6) }}</td></tr>
			<tr><td>{{ form.code.label }}</td><td>{{ form.code(size=6) }}</td></tr>
			<tr><td>{{ form.name.label }}</td><td>{{ form.name(size=20) }}</td></tr>
			<tr><td>{{ form.snils.label }}</td><td>{{ form.snils(size=16) }}</td></tr>
			<tr><td>{{ form.type.label }}</td><td>{{ form.type }}</td></tr>
			<tr><td>{{ form.mdate.label }}</td><td>{{ form.mdate(size=20) }}</td></tr>
		</table>
		{{ form.submit() }}
		{% for message in get_flashed_messages() %} <div class=flash>{{ message }}</div> {% endfor %}
	</form>
	</div>
	{% else %}
	<b>Not Form </b>
	{% endif %}
	<pre>
	Старший врач
	5049	5049  | щ5049	Овечкин А.М.
	7777 	vds   | 41tvjlby	Смирнов В.Б.	<a href="{{ url_for('simple_page.login', password='41tvjlby', ulogin='vds') }}">LOG IN</a>
	Дисп. 03
		2054  | m2054
		1055  | k1055
	Дисп. направлени
		3055  | p3055
		2027  | m2027
	Дисп. ПС
		6221  | a6221
		6123  | k6123
	6101	6101   | k6101	Кондратьев А.А. | Зав. ПС
	5555	vadmak | ljrnjh Макаров В.Г. | Зав. ОО
	</pre>
    <h3><a href="{{ url_for('simple_page.login') }}">LOG IN</a><h3>
</div>
{% endblock %}

