{% extends "layout.html" %}
{% block body %}
{% if not session.logged_in %}
	<h2>Необходима реристрация</h2>
{% else %}
	<h2>Есть регистрация</h2>
	{% if session.user['name'] %}
		<ul>
		{% for k in session.user.keys() %}
			<li> {{ k }} {{ session.user[k] }}
		{% endfor %}
		</ul>
	{% else %}
		<h3> Not session.user['name'] </h3>
	{% endif %}
	<h3><a href="{{ url_for('simple_page.logout') }}">LOG UOT</a><h3>
{% endif %}
	<h3><a href="{{ url_for('simple_page.login') }}">LOG IN</a><h3>
{% endblock %}
